::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  text-align: center;
  height: 100%;
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}

input:focus {
  outline: none;
  border: none;
}

input::placeholder {
  color: black;
  opacity: 0.8;
  letter-spacing: 1px;
}

button {
  padding: 0.5rem 1.5rem;
  color: white;
  margin-top: 3%;
  border-radius: 5px;
  border: none;
  letter-spacing: 1px;
  background-image: linear-gradient(to left top, #ff1010, #e74311, #ff9028);
}

#weatherdiv {
  margin-top: 3%;
  border-radius: 50px;
  box-shadow: 1px 5px 10px black;
  width: 55%;
}

.temperature {
  font-size: 4.6rem;
}

.degrees {
  vertical-align: top;
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: 1.1rem;
}

@media only screen and (max-width: 768px) {
  #weatherdiv {
    margin-top: 10%;
    width: 85%;
  }
  h2 {
    font-size: 1.6rem;
  }
  .temperature {
    font-size: 3.8rem;
  }
  h4 {
    font-size: 1rem;
  }
}
